# Important Characters in Game of Thrones

In [78]:
import pandas as pd
import numpy as np

In [79]:
file_name = 'asoiaf-book{}-edges.csv'
df_raw = pd.concat([pd.read_csv(file_name.format(i)) for i in range(1, 6)])
df_raw.replace('-',' ',regex=True,inplace=True)
df_raw.rename(columns={'weight': 'Weight', 'book': 'Book', 'Source':'Character Name'}, inplace=True)
df_raw.head()

,Character Name,Target,Type,Weight,Book
0,Addam Marbrand,Jaime Lannister,Undirected,3,1.0
1,Addam Marbrand,Tywin Lannister,Undirected,6,1.0
2,Aegon I Targaryen,Daenerys Targaryen,Undirected,5,1.0
3,Aegon I Targaryen,Eddard Stark,Undirected,4,1.0
4,Aemon Targaryen (Maester Aemon),Alliser Thorne,Undirected,4,1.0

In [80]:
df_raw.head()
df_raw.tail()

,Character Name,Target,Type,Weight,Book
755,Tyrion Lannister,Ysilla,undirected,11,5.0
756,Tywin Lannister,Wylis Manderly,undirected,3,5.0
757,Victarion Greyjoy,Wulfe,undirected,3,5.0
758,Walder Frey (son of Jammos),Walder Frey (son of Merrett),undirected,10,5.0
759,Yandry,Ysilla,undirected,14,5.0

In [81]:
df_add = df_raw.copy()
df_add.rename(columns={'Character Name': 'Target', 'Target': 'Character Name'}, inplace=True)
df_add.head()

,Target,Character Name,Type,Weight,Book
0,Addam Marbrand,Jaime Lannister,Undirected,3,1.0
1,Addam Marbrand,Tywin Lannister,Undirected,6,1.0
2,Aegon I Targaryen,Daenerys Targaryen,Undirected,5,1.0
3,Aegon I Targaryen,Eddard Stark,Undirected,4,1.0
4,Aemon Targaryen (Maester Aemon),Alliser Thorne,Undirected,4,1.0

In [82]:
df = pd.concat([df_raw, df_add], sort='False')
df.head()

,Book,Character Name,Target,Type,Weight
0,1.0,Addam Marbrand,Jaime Lannister,Undirected,3
1,1.0,Addam Marbrand,Tywin Lannister,Undirected,6
2,1.0,Aegon I Targaryen,Daenerys Targaryen,Undirected,5
3,1.0,Aegon I Targaryen,Eddard Stark,Undirected,4
4,1.0,Aemon Targaryen (Maester Aemon),Alliser Thorne,Undirected,4

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7818 entries, 0 to 759
Data columns (total 5 columns):
Book              7816 non-null float64
Character Name    7818 non-null object
Target            7818 non-null object
Type              7818 non-null object
Weight            7818 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 366.5+ KB

In [84]:
df.tail()

,Book,Character Name,Target,Type,Weight
755,5.0,Ysilla,Tyrion Lannister,undirected,11
756,5.0,Wylis Manderly,Tywin Lannister,undirected,3
757,5.0,Wulfe,Victarion Greyjoy,undirected,3
758,5.0,Walder Frey (son of Merrett),Walder Frey (son of Jammos),undirected,10
759,5.0,Ysilla,Yandry,undirected,14

In [85]:
df_targaryen = df[df['Target'].str.contains(r'^(?=.*Targaryen)')]
df_targaryen['Family'] = 'Targaryen'

df_stark = df[df['Target'].str.contains(r'^(?=.*Stark)')]
df_stark['Family'] = 'Stark'

df_baratheon = df[df['Target'].str.contains(r'^(?=.*Baratheon)')]
df_baratheon['Family'] = 'Baratheon'

df_lannister = df[df['Target'].str.contains(r'^(?=.*Lannister)')]
df_lannister['Family'] = 'Lannister'

df_tyrell = df[df['Target'].str.contains(r'^(?=.*Tyrell)')]
df_tyrell['Family'] = 'Tyrell'

df_martell = df[df['Target'].str.contains(r'^(?=.*Martell)')]
df_martell['Family'] = 'Martell'

df_all_families= pd.concat([df_targaryen, df_stark, df_baratheon, df_lannister])
df_all_families

/anaconda3/envs/hanumenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/envs/hanumenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/envs/hanumenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/envs/hanumenv/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/anaconda3/envs/hanumenv/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/envs/hanumenv/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Book,Character Name,Target,Type,Weight,Family
2,1.0,Aegon I Targaryen,Daenerys Targaryen,Undirected,5,Targaryen
17,1.0,Aggo,Daenerys Targaryen,Undirected,11,Targaryen
240,1.0,Cohollo,Daenerys Targaryen,Undirected,7,Targaryen
262,1.0,Daenerys Targaryen,Rhaegar Targaryen,Undirected,4,Targaryen
265,1.0,Daenerys Targaryen,Viserys Targaryen,Undirected,37,Targaryen
279,1.0,Doreah,Viserys Targaryen,Undirected,3,Targaryen
294,1.0,Drogo,Viserys Targaryen,Undirected,19,Targaryen
325,1.0,Eddard Stark,Rhaegar Targaryen,Undirected,10,Targaryen
417,1.0,Illyrio Mopatis,Viserys Targaryen,Undirected,14,Targaryen
427,1.0,Irri,Viserys Targaryen,Undirected,5,Targaryen
519,1.0,Jorah Mormont,Rhaegar Targaryen,Undirected,5,Targaryen
521,1.0,Jorah Mormont,Viserys Targaryen,Undirected,15,Targaryen
625,1.0,Rhaegar Targaryen,Viserys Targaryen,Undirected,5,Targaryen
653,1.0,Robert Baratheon,Viserys Targaryen,Undirected,7,Targaryen
2,2.0,Aegon I Targaryen,Rhaenys Targaryen,Undirected,4,Targaryen
4,2.0,Aegon I Targaryen,Visenya Targaryen,Undirected,3,Targaryen
5,2.0,Aegon V Targaryen,Aemon Targaryen (Maester Aemon),Undirected,3,Targaryen
6,2.0,Aemon Targaryen (Maester Aemon),Daeron II Targaryen,Undirected,3,Targaryen
9,2.0,Aemon Targaryen (Maester Aemon),Maekar I Targaryen,Undirected,3,Targaryen
17,2.0,Aerys II Targaryen,Rhaegar Targaryen,Undirected,4,Targaryen
25,2.0,Aggo,Daenerys Targaryen,Undirected,10,Targaryen
134,2.0,Barristan Selmy,Daenerys Targaryen,Undirected,3,Targaryen
138,2.0,Belwas,Daenerys Targaryen,Undirected,5,Targaryen
344,2.0,Daenerys Targaryen,Viserys Targaryen,Undirected,3,Targaryen
382,2.0,Drogo,Viserys Targaryen,Undirected,3,Targaryen
570,2.0,Jorah Mormont,Rhaegar Targaryen,Undirected,4,Targaryen
694,2.0,Rhaegar Targaryen,Viserys Targaryen,Undirected,3,Targaryen
695,2.0,Rhaenys Targaryen,Visenya Targaryen,Undirected,3,Targaryen
12,3.0,Aegon I Targaryen,Daenerys Targaryen,Undirected,4,Targaryen
43,3.0,Aerys II Targaryen,Viserys Targaryen,Undirected,3,Targaryen
...,...,...,...,...,...,...
229,5.0,Rafford,Cersei Lannister,undirected,3,Lannister
230,5.0,Rhaegar Targaryen,Cersei Lannister,undirected,3,Lannister
231,5.0,Robert Baratheon,Cersei Lannister,undirected,7,Lannister
232,5.0,Robert Strong,Cersei Lannister,undirected,4,Lannister
233,5.0,Scolera,Cersei Lannister,undirected,5,Lannister
234,5.0,Stannis Baratheon,Cersei Lannister,undirected,5,Lannister
235,5.0,Tommen Baratheon,Cersei Lannister,undirected,13,Lannister
236,5.0,Tyrion Lannister,Cersei Lannister,undirected,5,Lannister
237,5.0,Tywin Lannister,Cersei Lannister,undirected,3,Lannister
238,5.0,Unella,Cersei Lannister,undirected,10,Lannister
501,5.0,Jonos Bracken,Jaime Lannister,undirected,9,Lannister
502,5.0,Josmyn Peckledon,Jaime Lannister,undirected,3,Lannister
503,5.0,Kevan Lannister,Jaime Lannister,undirected,3,Lannister
504,5.0,Robert Baratheon,Jaime Lannister,undirected,4,Lannister
505,5.0,Tyrion Lannister,Jaime Lannister,undirected,4,Lannister
506,5.0,Tytos Blackwood,Jaime Lannister,undirected,6,Lannister
576,5.0,Mace Tyrell,Kevan Lannister,undirected,5,Lannister
577,5.0,Pycelle,Kevan Lannister,undirected,5,Lannister
578,5.0,Randyll Tarly,Kevan Lannister,undirected,6,Lannister
579,5.0,Ronnet Connington,Kevan Lannister,undirected,3,Lannister
580,5.0,Tommen Baratheon,Kevan Lannister,undirected,11,Lannister
581,5.0,Tywin Lannister,Kevan Lannister,undirected,3,Lannister
582,5.0,Varys,Kevan Lannister,undirected,3,Lannister
750,5.0,Tysha,Tyrion Lannister,undirected,4,Lannister
751,5.0,Tywin Lannister,Tyrion Lannister,undirected,18,Lannister
752,5.0,Varys,Tyrion Lannister,undirected,7,Lannister
753,5.0,Yandry,Tyrion Lannister,undirected,15,Lannister
754,5.0,Yezzan zo Qaggaz,Tyrion Lannister,undirected,17,Lannister
755,5.0,Ysilla,Tyrion Lannister,undirected,11,Lannister
756,5.0,Wylis Manderly,Tywin Lannister,undirected,3,Lannister

In [86]:
df_all_families.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2485 entries, 2 to 756
Data columns (total 6 columns):
Book              2485 non-null float64
Character Name    2485 non-null object
Target            2485 non-null object
Type              2485 non-null object
Weight            2485 non-null int64
Family            2485 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 135.9+ KB

In [87]:
agg_table = pd.pivot_table(df_all_families, values='Weight', index=['Book','Character Name'], 
            columns='Family', aggfunc=np.sum, fill_value=0)
agg_table.head()

Family                   Baratheon  Lannister  Stark  Targaryen
Book Character Name
1.0  Addam Marbrand              0          9      0          0
     Aegon I Targaryen           0          0      4          5
     Aerys II Targaryen         12          5     14          0
     Aggo                        0          0      0         11
     Alliser Thorne              0          7      0          4

In [88]:
agg_table.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 872 entries, (1.0, Addam Marbrand) to (5.0, Yurkhaz zo Yunzak)
Data columns (total 4 columns):
Baratheon    872 non-null int64
Lannister    872 non-null int64
Stark        872 non-null int64
Targaryen    872 non-null int64
dtypes: int64(4)
memory usage: 33.8+ KB

In [44]:
# book = pd.Series("All")
# book = book.repeat(294)

In [89]:
df_all_families['All Book'] = 'All'
df_all_families.head()

,Book,Character Name,Target,Type,Weight,Family,All Book
2,1.0,Aegon I Targaryen,Daenerys Targaryen,Undirected,5,Targaryen,All
17,1.0,Aggo,Daenerys Targaryen,Undirected,11,Targaryen,All
240,1.0,Cohollo,Daenerys Targaryen,Undirected,7,Targaryen,All
262,1.0,Daenerys Targaryen,Rhaegar Targaryen,Undirected,4,Targaryen,All
265,1.0,Daenerys Targaryen,Viserys Targaryen,Undirected,37,Targaryen,All

In [90]:
df_all_families.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2485 entries, 2 to 756
Data columns (total 7 columns):
Book              2485 non-null float64
Character Name    2485 non-null object
Target            2485 non-null object
Type              2485 non-null object
Weight            2485 non-null int64
Family            2485 non-null object
All Book          2485 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 155.3+ KB

In [91]:
agg_table_all_book = pd.pivot_table(df_all_families, values='Weight', index=['All Book','Character Name'], 
            columns='Family', aggfunc=np.sum, fill_value=0)
agg_table_all_book.head()

Family                                     Baratheon  Lannister  Stark  \
All Book Character Name
All      Addam Marbrand                            3         33      0
         Aegon Frey (son of Stevron)               0          0      9
         Aegon I Targaryen                         4          3      7
         Aegon Targaryen (son of Rhaegar)          0         26      0
         Aegon V Targaryen                         0          0      0

Family                                     Targaryen
All Book Character Name
All      Addam Marbrand                            0
         Aegon Frey (son of Stevron)               0
         Aegon I Targaryen                        20
         Aegon Targaryen (son of Rhaegar)         30
         Aegon V Targaryen                         6

In [92]:
agg_table_all_book.index.names = ['Book', 'Character Name']
agg_table_all_book.head()

Family                                 Baratheon  Lannister  Stark  Targaryen
Book Character Name
All  Addam Marbrand                            3         33      0          0
     Aegon Frey (son of Stevron)               0          0      9          0
     Aegon I Targaryen                         4          3      7         20
     Aegon Targaryen (son of Rhaegar)          0         26      0         30
     Aegon V Targaryen                         0          0      0          6

In [93]:
agg_table_all_book.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 486 entries, (All, Addam Marbrand) to (All, Zollo)
Data columns (total 4 columns):
Baratheon    486 non-null int64
Lannister    486 non-null int64
Stark        486 non-null int64
Targaryen    486 non-null int64
dtypes: int64(4)
memory usage: 20.5+ KB

In [94]:
agg_table.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 872 entries, (1.0, Addam Marbrand) to (5.0, Yurkhaz zo Yunzak)
Data columns (total 4 columns):
Baratheon    872 non-null int64
Lannister    872 non-null int64
Stark        872 non-null int64
Targaryen    872 non-null int64
dtypes: int64(4)
memory usage: 33.8+ KB

In [95]:
agg_table = pd.concat([agg_table, agg_table_all_book])
agg_table.index

MultiIndex(levels=[[1.0, 2.0, 3.0, 4.0, 5.0, 'All'], ['Addam Marbrand', 'Aegon Frey (son of Stevron)', 'Aegon I Targaryen', 'Aegon Targaryen (son of Rhaegar)', 'Aegon V Targaryen', 'Aemon Targaryen (Dragonknight)', 'Aemon Targaryen (Maester Aemon)', 'Aenys Frey', 'Aerys I Targaryen', 'Aerys II Targaryen', 'Aggo', 'Alayaya', 'Alebelly', 'Alester Florent', 'Alla Tyrell', 'Allar Deem', 'Allard Seaworth', 'Alleras', 'Alliser Thorne', 'Alyn', 'Alysane Mormont', 'Amabel', 'Amerei Frey', 'Amory Lorch', 'Andrey Dalt', 'Anguy', 'Areo Hotah', 'Arianne Martell', 'Arnolf Karstark', 'Arstan', 'Arthur Dayne', 'Arya Stark', 'Arys Oakheart', 'Asha Greyjoy', 'Aurane Waters', 'Axell Florent', 'Azor Ahai', 'Baelor I Targaryen', 'Ballabar', 'Balman Byrch', 'Balon Greyjoy', 'Balon Swann', 'Barbrey Dustin', 'Barristan Selmy', 'Barsena', 'Bellegere Otherys', 'Belwas', 'Ben Plumm', 'Benerro', 'Benjen Stark', 'Beric Dondarrion', 'Beth Cassel', 'Biter', 'Bloodbeard', 'Blue Bard', 'Bonifer Hasty', 'Boros Blount', 'Bowen Marsh', 'Bran Stark', 'Brandon Stark', 'Brea', 'Brella', 'Brenett', 'Brienne of Tarth', 'Bronn', 'Brusco', 'Bryce Caron', 'Brynden Rivers', 'Brynden Tully', 'Butterbumps', 'Catelyn Stark', 'Cayn', 'Cersei Lannister', 'Chataya', 'Chayle', 'Chella', 'Chett', 'Chiggen', 'Chiswyck', 'Clayton Suggs', 'Clement Piper', 'Cleon', 'Cleos Frey', 'Cletus Yronwood', 'Cley Cerwyn', 'Clydas', 'Cohollo', 'Coldhands', 'Colemon', 'Colen of Greenpools', 'Conn', 'Corliss Penny', 'Cortnay Penrose', 'Cotter Pyke', 'Cressen', 'Daario Naharis', 'Dacey Mormont', 'Daenerys Targaryen', 'Daeron I Targaryen', 'Daeron II Targaryen', 'Dalla', 'Dareon', 'Daryn Hornwood', 'Daven Lannister', 'Davos Seaworth', 'Denyo Terys', 'Denys Darklyn', 'Denys Mallister', 'Desmond', 'Desmond Grell', 'Devan Seaworth', 'Dick Crabb', 'Dobber', 'Donal Noye', 'Donella Hornwood', 'Donnel Waynwood', 'Dontos Hollard', 'Doran Martell', 'Dorcas', 'Doreah', 'Drogo', 'Dunsen', 'Eddard Stark', 'Eddison Tollett', 'Edmure Tully', 'Edric Storm', 'Edwyn Frey', 'Elbert Arryn', 'Elia Martell', 'Elinor Tyrell', 'Ellaria Sand', 'Elmar Frey', 'Emmon Cuy', 'Emmon Frey', 'Eon Hunter', 'Eroeh', 'Ezzara', 'Falyse Stokeworth', 'Florian the Fool', 'Franklyn Flowers', 'Galazza Galare', 'Galbart Glover', 'Galyeon of Cuy', 'Garin (orphan)', 'Garlan Tyrell', 'Garrett Paege', 'Garth Tyrell', 'Gendry', 'Genna Lannister', 'Gerold Dayne', 'Gerold Hightower', 'Gerris Drinkwater', 'Ghael', 'Gilly', 'Godry Farring', 'Greenbeard', 'Gregor Clegane', 'Grenn', 'Gretchel', 'Grey Worm', 'Groleo', 'Gunthor son of Gurn', 'Guyard Morrigen', 'Gyles Rosby', 'Haggo', 'Haldon', 'Hali', 'Hallis Mollen', 'Hallyne', 'Harra', 'Harren Hoare', 'Harry Strickland', 'Harwin', 'Harys Swyft', 'Hayhead', 'Hero', 'High Septon (Tyrions)', 'High Septon (fat_one)', 'High Sparrow', 'Hizdahr zo Loraq', 'Hobb', 'Hodor', 'Horas Redwyne', 'Hoster Blackwood', 'Hoster Tully', 'Hot Pie', 'Howland Reed', 'Hugo Vance', 'Hullen', 'Hyle Hunt', 'Illyrio Mopatis', 'Ilyn Payne', 'Irri', 'Jacelyn Bywater', 'Jacks', 'Jaehaerys I Targaryen', 'Jaime Lannister', 'Jalabhar Xho', 'Janos Slynt', 'Jaqen Hghar', 'Jaremy Rykker', 'Jason Mallister', 'Jeor Mormont', 'Jeyne Poole', 'Jeyne Westerling', 'Jhiqui', 'Jhogo', 'Joanna Lannister', 'Jocelyn Swyft', 'Joffrey Baratheon', 'Jojen Reed', 'Jon Arryn', 'Jon Connington', 'Jon Snow', 'Jon Umber (Greatjon)', 'Jon Umber (Smalljon)', 'Jonos Bracken', 'Jorah Mormont', 'Jory Cassel', 'Joseth', 'Josmyn Peckledon', 'Joss', 'Joy Hill', 'Justin Massey', 'Jyck', 'Karyl Vance', 'Kasporio', 'Kella', 'Kevan Lannister', 'Khorane Sathmantes', 'Kindly Man', 'Koss', 'Kraznys mo Nakloz', 'Kurleket', 'Lancel Lannister', 'Leaf', 'Lem', 'Lemore', 'Leo Lefford', 'Lewys Piper', 'Lollys Stokeworth', 'Lommy Greenhands', 'Loras Tyrell', 'Lorent Caswell', 'Lothar Frey', 'Lothor Brune', 'Luwin', 'Lyanna Mormont', 'Lyanna Stark', 'Lyle Crakehall', 'Lynesse Hightower', 'Lysa Arryn', 'Lysono Maar', 'Mace Tyrell', 'Mad Huntsman', 'Maddy', 'Maege Mormont', 'Maegor I Targaryen', 'Maekar I Targaryen', 'Maggy', 'Mance Rayder', 'Mandon Moore', 'Margaery Tyrell', 'Marillion', 'Mariya Darry', 'Mark Mullendore', 'Marlon Manderly', 'Maron Greyjoy', 'Marq Piper', 'Marselen', 'Martyn Lannister', 'Martyn Rivers', 'Marya Seaworth', 'Masha Heddle', 'Mathis Rowan', 'Meera Reed', 'Megga Tyrell', 'Melara Hetherspoon', 'Melisandre', 'Meralyn', 'Meris', 'Mero', 'Meryn Trant', 'Mezzara', 'Mikken', 'Miklaz', 'Mirri Maz Duur', 'Missandei', 'Moelle', 'Monford Velaryon', 'Moon Boy', 'Moqorro', 'Mord', 'Mordane', 'Moreo Tumitis', 'Morgo', 'Morrec', 'Mors Umber', 'Mya Stone', 'Mycah', 'Mychel Redfort', 'Myranda Royce', 'Myrcella Baratheon', 'Nan', 'Nestor Royce', 'Nurse', 'Oberyn Martell', 'Olenna Redwyne', 'Olyvar Frey', 'Orton Merryweather', 'Osfryd Kettleblack', 'Osha', 'Osmund Kettleblack', 'Osney Kettleblack', 'Oswell Kettleblack', 'Owen', 'Owen Merryweather', 'Oznak zo Pahl', 'Patchface', 'Pate (Old)', 'Pate (whipping boy)', 'Paxter Redwyne', 'Penny', 'Perwyn Frey', 'Petyr Baelish', 'Pia', 'Podrick Payne', 'Polliver', 'Pono', 'Porther', 'Poxy Tym', 'Praed', 'Preston Greenfield', 'Pyat Pree', 'Pycelle', 'Pylos', 'Pypar', 'Qavo Nogarys', 'Qezza', 'Qotho', 'Quaithe', 'Quaro', 'Quentyn Martell', 'Qyburn', 'Rafford', 'Rakharo', 'Ramsay Snow', 'Randyll Tarly', 'Ravella Swann', 'Raymun Darry', 'Raynald Westerling', 'Raynard', 'Reek', 'Renly Baratheon', 'Rennifer Longwaters', 'Reznak mo Reznak', 'Rhaegar Targaryen', 'Rhaegel Targaryen', 'Rhaella Targaryen', 'Rhaenys Targaryen', 'Rhaenys Targaryen (daughter of Rhaegar)', 'Richard Horpe', 'Rickard Karstark', 'Rickard Stark', 'Rickon Stark', 'Robar Royce', 'Robb Stark', 'Robert Arryn', 'Robert Baratheon', 'Robert Strong', 'Robett Glover', 'Robin Flint', 'Robin Ryger', 'Rodrik Cassel', 'Rollam Westerling', 'Rolly Duckfield', 'Rolph Spicer', 'Ronnet Connington', 'Roose Bolton', 'Roose Ryswell', 'Rorge', 'Roslin Frey', 'Rossart', 'Ryman Frey', 'Salladhor Saan', 'Samwell Tarly', 'Sandor Clegane', 'Sansa Stark', 'Scar', 'Scolera', 'Selyse Florent', 'Senelle', 'Shadrich', 'Shae', 'Shagga', 'Shagwell', 'Shireen Baratheon', 'Shitmouth', 'Shrouded Lord', 'Sigorn', 'Skahaz mo Kandaq', 'Spotted Cat', 'Stafford Lannister', 'Stannis Baratheon', 'Steffon Baratheon', 'Stevron Frey', 'Stiv', 'Sweets', 'Sybell Spicer', 'Sylva Santagar', 'Symon Silver Tongue', 'Symon Stripeback', 'Syrio Forel', 'Taena of Myr', 'Talea', 'Tallad', 'Tanda Stokeworth', 'Tansy', 'Tattered Prince', 'Ternesio Terys', 'Theomore', 'Theon Greyjoy', 'Thoros of Myr', 'Tickler', 'Timett', 'Tion Frey', 'Tobho Mott', 'Tom of Sevenstreams', 'Tomard', 'Tommen Baratheon', 'Torrhen Karstark', 'Torrhen Stark', 'Tregar', 'Tristifer IV Mudd', 'Trystane Martell', 'Tybero Istarion', 'Tycho Nestoris', 'Tyrion Lannister', 'Tysha', 'Tytos Blackwood', 'Tywin Lannister', 'Umma', 'Unella', 'Urswyck', 'Utherydes Wayn', 'Val', 'Vardis Egen', 'Vargo Hoat', 'Varly', 'Varys', 'Vayon Poole', 'Victarion Greyjoy', 'Visenya Targaryen', 'Viserys Targaryen', 'Vylarr', 'Vyman', 'Waif', 'Walder Frey', 'Walder Frey (son of Jammos)', 'Walder Frey (son of Merrett)', 'Walder Rivers', 'Walton', 'Waymar Royce', 'Weasel', 'Weese', 'Wendel Manderly', 'Willam Dustin', 'Willas Tyrell', 'Willem Lannister', 'William Foxglove', 'Willis Wode', 'Woth', 'Wyl (guard)', 'Wylis Manderly', 'Wylla', 'Wyman Manderly', 'Wynton Stout', 'Xaro Xhoan Daxos', 'Yandry', 'Yezzan zo Qaggaz', 'Yohn Royce', 'Yoren', 'Yorko Terys', 'Ysilla', 'Yurkhaz zo Yunzak', 'Zollo']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5], [0, 2, 9, 10, 18, 19, 31, 32, 40, 41, 43, 49, 50, 56, 57, 58, 59, 64, 68, 70, 71, 72, 75, 76, 77, 85, 86, 88, 90, 97, 102, 108, 115, 119, 120, 122, 124, 134, 135, 141, 147, 150, 156, 161, 164, 166, 167, 172, 173, 177, 181, 184, 186, 188, 190, 191, 192, 194, 196, 198, 200, 202, 203, 205, 206, 209, 211, 213, 214, 217, 218, 219, 221, 224, 228, 233, 234, 238, 242, 246, 248, 251, 257, 260, 263, 268, 273, 282, 286, 292, 293, 294, 296, 298, 299, 300, 302, 303, 304, 311, 324, 329, 334, 339, 341, 345, 349, 353, 356, 362, 363, 364, 366, 367, 368, 373, 378, 385, 386, 387, 393, 394, 403, 405, 406, 412, 421, 424, 426, 428, 429, 430, 432, 437, 439, 440, 446, 448, 449, 450, 453, 457, 462, 465, 470, 472, 474, 481, 2, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 18, 21, 23, 31, 32, 35, 38, 40, 41, 43, 46, 50, 51, 52, 56, 58, 63, 64, 66, 68, 70, 72, 73, 74, 75, 78, 82, 84, 89, 92, 94, 97, 99, 104, 109, 110, 112, 114, 116, 117, 119, 120, 121, 122, 124, 132, 138, 144, 147, 156, 162, 163, 167, 168, 169, 170, 174, 176, 177, 181, 182, 184, 185, 186, 191, 192, 193, 196, 198, 199, 202, 205, 206, 209, 210, 213, 214, 217, 231, 234, 241, 242, 243, 246, 250, 251, 253, 258, 261, 262, 267, 271, 274, 275, 278, 282, 284, 286, 289, 302, 303, 308, 310, 311, 312, 313, 318, 323, 324, 326, 327, 328, 330, 331, 332, 333, 334, 335, 340, 344, 345, 346, 347, 352, 353, 356, 359, 362, 364, 365, 366, 367, 368, 373, 378, 380, 384, 385, 386, 387, 390, 393, 394, 402, 403, 404, 412, 416, 421, 423, 424, 429, 434, 437, 438, 440, 444, 447, 449, 452, 453, 454, 455, 457, 458, 459, 463, 464, 465, 471, 475, 477, 481, 0, 1, 2, 5, 6, 9, 11, 13, 14, 18, 23, 25, 29, 30, 31, 35, 36, 37, 38, 40, 41, 43, 46, 47, 49, 50, 56, 58, 59, 61, 62, 63, 64, 68, 69, 70, 72, 73, 81, 82, 85, 87, 93, 95, 96, 97, 98, 104, 107, 109, 110, 113, 116, 117, 120, 121, 122, 123, 124, 125, 128, 129, 130, 131, 142, 144, 147, 150, 152, 155, 156, 157, 159, 160, 172, 176, 180, 181, 184, 185, 191, 192, 196, 198, 201, 202, 204, 205, 206, 207, 209, 210, 211, 213, 214, 215, 217, 227, 228, 229, 232, 234, 236, 240, 242, 244, 245, 251, 253, 254, 256, 260, 261, 262, 263, 268, 270, 275, 276, 278, 281, 282, 287, 293, 299, 302, 303, 306, 307, 308, 312, 314, 315, 317, 318, 319, 321, 323, 324, 326, 327, 334, 335, 336, 343, 344, 345, 346, 348, 350, 353, 356, 357, 358, 362, 364, 366, 367, 368, 371, 372, 373, 374, 376, 378, 380, 381, 382, 383, 384, 385, 386, 387, 390, 393, 395, 396, 403, 405, 408, 410, 416, 417, 421, 422, 423, 425, 427, 429, 431, 433, 437, 438, 440, 443, 444, 447, 449, 453, 455, 457, 460, 461, 467, 468, 476, 0, 3, 4, 6, 9, 17, 22, 24, 26, 27, 31, 32, 34, 37, 39, 40, 41, 43, 45, 50, 54, 55, 56, 58, 60, 61, 63, 64, 65, 68, 70, 72, 80, 82, 85, 101, 103, 105, 106, 111, 116, 117, 118, 121, 122, 124, 126, 127, 128, 133, 137, 143, 144, 145, 146, 148, 149, 153, 156, 158, 163, 173, 176, 178, 187, 189, 191, 195, 196, 197, 204, 208, 209, 211, 213, 220, 222, 225, 228, 230, 234, 239, 242, 245, 249, 251, 253, 255, 257, 259, 262, 264, 265, 277, 278, 279, 282, 290, 301, 302, 303, 304, 307, 309, 310, 312, 313, 316, 320, 324, 325, 334, 343, 344, 347, 351, 353, 354, 356, 364, 366, 367, 368, 377, 378, 383, 385, 386, 387, 391, 392, 393, 397, 403, 408, 409, 412, 413, 414, 415, 419, 422, 429, 434, 437, 440, 441, 442, 447, 449, 456, 457, 460, 473, 480, 482, 485, 2, 3, 6, 9, 10, 20, 27, 28, 31, 33, 35, 36, 41, 42, 43, 44, 46, 47, 48, 53, 56, 57, 58, 63, 65, 67, 68, 70, 72, 79, 81, 83, 85, 87, 91, 95, 97, 99, 100, 104, 110, 117, 120, 121, 122, 128, 135, 136, 139, 140, 149, 151, 152, 153, 154, 156, 159, 160, 165, 171, 175, 178, 179, 181, 183, 190, 191, 192, 196, 203, 205, 206, 209, 210, 212, 213, 216, 217, 220, 223, 226, 228, 230, 234, 235, 237, 247, 248, 252, 253, 256, 260, 262, 266, 269, 272, 275, 278, 280, 282, 283, 285, 287, 288, 291, 295, 297, 302, 305, 313, 318, 322, 334, 337, 338, 340, 342, 343, 344, 345, 346, 347, 355, 356, 360, 361, 364, 366, 368, 369, 370, 373, 375, 377, 378, 379, 384, 385, 387, 388, 389, 390, 396, 398, 399, 400, 401, 403, 407, 411, 418, 420, 421, 429, 434, 435, 436, 437, 438, 439, 440, 442, 445, 449, 451, 453, 456, 466, 469, 473, 475, 477, 478, 479, 483, 484, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485]],
           names=['Book', 'Character Name'])

In [96]:
agg_table.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1358 entries, (1.0, Addam Marbrand) to (All, Zollo)
Data columns (total 4 columns):
Baratheon    1358 non-null int64
Lannister    1358 non-null int64
Stark        1358 non-null int64
Targaryen    1358 non-null int64
dtypes: int64(4)
memory usage: 50.5+ KB

In [97]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 100))

In [98]:
# agg_table = agg_table.drop("Baratheon Scaled", axis=1)
x = agg_table.values
x_scaled = scaler.fit_transform(x.T).T
agg_table_scaled = pd.DataFrame(x_scaled)
agg_table_scaled.head()

/anaconda3/envs/hanumenv/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

           0           1      2           3
0   0.000000  100.000000    0.0    0.000000
1   0.000000    0.000000   80.0  100.000000
2  85.714286   35.714286  100.0    0.000000
3   0.000000    0.000000    0.0  100.000000
4   0.000000  100.000000    0.0   57.142857

In [73]:
agg_table_scaled.loc[:,1].head()

0    100.000000
1      0.000000
2     35.714286
3      0.000000
4    100.000000
Name: 1, dtype: float64

In [99]:
agg_table_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1358 entries, 0 to 1357
Data columns (total 4 columns):
0    1358 non-null float64
1    1358 non-null float64
2    1358 non-null float64
3    1358 non-null float64
dtypes: float64(4)
memory usage: 42.5 KB

In [102]:
agg_table['Baratheon Scaled'] = agg_table_scaled[0].values
agg_table['Lannister Scaled'] = agg_table_scaled[1].values
agg_table['Stark Scaled'] = agg_table_scaled[2].values
agg_table['Targaryen Scaled'] = agg_table_scaled[3].values
agg_table.tail()

Family                  Baratheon  Lannister  Stark  Targaryen  \
Book Character Name
All  Yoren                      3         10     42          0
     Yorko Terys                0          0      6          0
     Ysilla                     0         11      0          4
     Yurkhaz zo Yunzak          0          0      0          4
     Zollo                      0          3      0          0

Family                  Baratheon Scaled  Lannister Scaled  Stark Scaled  \
Book Character Name
All  Yoren                      7.142857         23.809524         100.0
     Yorko Terys                0.000000          0.000000         100.0
     Ysilla                     0.000000        100.000000           0.0
     Yurkhaz zo Yunzak          0.000000          0.000000           0.0
     Zollo                      0.000000        100.000000           0.0

Family                  Targaryen Scaled
Book Character Name
All  Yoren                      0.000000
     Yorko Terys                0.000000
     Ysilla                    36.363636
     Yurkhaz zo Yunzak        100.000000
     Zollo                      0.000000

In [103]:
agg_table.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1358 entries, (1.0, Addam Marbrand) to (All, Zollo)
Data columns (total 8 columns):
Baratheon           1358 non-null int64
Lannister           1358 non-null int64
Stark               1358 non-null int64
Targaryen           1358 non-null int64
Baratheon Scaled    1358 non-null float64
Lannister Scaled    1358 non-null float64
Stark Scaled        1358 non-null float64
Targaryen Scaled    1358 non-null float64
dtypes: float64(4), int64(4)
memory usage: 92.9+ KB

In [104]:
agg_table.to_csv('game_of_thrones_scaled_row_v4.csv')

In [105]:
agg_table.index

MultiIndex(levels=[[1.0, 2.0, 3.0, 4.0, 5.0, 'All'], ['Addam Marbrand', 'Aegon Frey (son of Stevron)', 'Aegon I Targaryen', 'Aegon Targaryen (son of Rhaegar)', 'Aegon V Targaryen', 'Aemon Targaryen (Dragonknight)', 'Aemon Targaryen (Maester Aemon)', 'Aenys Frey', 'Aerys I Targaryen', 'Aerys II Targaryen', 'Aggo', 'Alayaya', 'Alebelly', 'Alester Florent', 'Alla Tyrell', 'Allar Deem', 'Allard Seaworth', 'Alleras', 'Alliser Thorne', 'Alyn', 'Alysane Mormont', 'Amabel', 'Amerei Frey', 'Amory Lorch', 'Andrey Dalt', 'Anguy', 'Areo Hotah', 'Arianne Martell', 'Arnolf Karstark', 'Arstan', 'Arthur Dayne', 'Arya Stark', 'Arys Oakheart', 'Asha Greyjoy', 'Aurane Waters', 'Axell Florent', 'Azor Ahai', 'Baelor I Targaryen', 'Ballabar', 'Balman Byrch', 'Balon Greyjoy', 'Balon Swann', 'Barbrey Dustin', 'Barristan Selmy', 'Barsena', 'Bellegere Otherys', 'Belwas', 'Ben Plumm', 'Benerro', 'Benjen Stark', 'Beric Dondarrion', 'Beth Cassel', 'Biter', 'Bloodbeard', 'Blue Bard', 'Bonifer Hasty', 'Boros Blount', 'Bowen Marsh', 'Bran Stark', 'Brandon Stark', 'Brea', 'Brella', 'Brenett', 'Brienne of Tarth', 'Bronn', 'Brusco', 'Bryce Caron', 'Brynden Rivers', 'Brynden Tully', 'Butterbumps', 'Catelyn Stark', 'Cayn', 'Cersei Lannister', 'Chataya', 'Chayle', 'Chella', 'Chett', 'Chiggen', 'Chiswyck', 'Clayton Suggs', 'Clement Piper', 'Cleon', 'Cleos Frey', 'Cletus Yronwood', 'Cley Cerwyn', 'Clydas', 'Cohollo', 'Coldhands', 'Colemon', 'Colen of Greenpools', 'Conn', 'Corliss Penny', 'Cortnay Penrose', 'Cotter Pyke', 'Cressen', 'Daario Naharis', 'Dacey Mormont', 'Daenerys Targaryen', 'Daeron I Targaryen', 'Daeron II Targaryen', 'Dalla', 'Dareon', 'Daryn Hornwood', 'Daven Lannister', 'Davos Seaworth', 'Denyo Terys', 'Denys Darklyn', 'Denys Mallister', 'Desmond', 'Desmond Grell', 'Devan Seaworth', 'Dick Crabb', 'Dobber', 'Donal Noye', 'Donella Hornwood', 'Donnel Waynwood', 'Dontos Hollard', 'Doran Martell', 'Dorcas', 'Doreah', 'Drogo', 'Dunsen', 'Eddard Stark', 'Eddison Tollett', 'Edmure Tully', 'Edric Storm', 'Edwyn Frey', 'Elbert Arryn', 'Elia Martell', 'Elinor Tyrell', 'Ellaria Sand', 'Elmar Frey', 'Emmon Cuy', 'Emmon Frey', 'Eon Hunter', 'Eroeh', 'Ezzara', 'Falyse Stokeworth', 'Florian the Fool', 'Franklyn Flowers', 'Galazza Galare', 'Galbart Glover', 'Galyeon of Cuy', 'Garin (orphan)', 'Garlan Tyrell', 'Garrett Paege', 'Garth Tyrell', 'Gendry', 'Genna Lannister', 'Gerold Dayne', 'Gerold Hightower', 'Gerris Drinkwater', 'Ghael', 'Gilly', 'Godry Farring', 'Greenbeard', 'Gregor Clegane', 'Grenn', 'Gretchel', 'Grey Worm', 'Groleo', 'Gunthor son of Gurn', 'Guyard Morrigen', 'Gyles Rosby', 'Haggo', 'Haldon', 'Hali', 'Hallis Mollen', 'Hallyne', 'Harra', 'Harren Hoare', 'Harry Strickland', 'Harwin', 'Harys Swyft', 'Hayhead', 'Hero', 'High Septon (Tyrions)', 'High Septon (fat_one)', 'High Sparrow', 'Hizdahr zo Loraq', 'Hobb', 'Hodor', 'Horas Redwyne', 'Hoster Blackwood', 'Hoster Tully', 'Hot Pie', 'Howland Reed', 'Hugo Vance', 'Hullen', 'Hyle Hunt', 'Illyrio Mopatis', 'Ilyn Payne', 'Irri', 'Jacelyn Bywater', 'Jacks', 'Jaehaerys I Targaryen', 'Jaime Lannister', 'Jalabhar Xho', 'Janos Slynt', 'Jaqen Hghar', 'Jaremy Rykker', 'Jason Mallister', 'Jeor Mormont', 'Jeyne Poole', 'Jeyne Westerling', 'Jhiqui', 'Jhogo', 'Joanna Lannister', 'Jocelyn Swyft', 'Joffrey Baratheon', 'Jojen Reed', 'Jon Arryn', 'Jon Connington', 'Jon Snow', 'Jon Umber (Greatjon)', 'Jon Umber (Smalljon)', 'Jonos Bracken', 'Jorah Mormont', 'Jory Cassel', 'Joseth', 'Josmyn Peckledon', 'Joss', 'Joy Hill', 'Justin Massey', 'Jyck', 'Karyl Vance', 'Kasporio', 'Kella', 'Kevan Lannister', 'Khorane Sathmantes', 'Kindly Man', 'Koss', 'Kraznys mo Nakloz', 'Kurleket', 'Lancel Lannister', 'Leaf', 'Lem', 'Lemore', 'Leo Lefford', 'Lewys Piper', 'Lollys Stokeworth', 'Lommy Greenhands', 'Loras Tyrell', 'Lorent Caswell', 'Lothar Frey', 'Lothor Brune', 'Luwin', 'Lyanna Mormont', 'Lyanna Stark', 'Lyle Crakehall', 'Lynesse Hightower', 'Lysa Arryn', 'Lysono Maar', 'Mace Tyrell', 'Mad Huntsman', 'Maddy', 'Maege Mormont', 'Maegor I Targaryen', 'Maekar I Targaryen', 'Maggy', 'Mance Rayder', 'Mandon Moore', 'Margaery Tyrell', 'Marillion', 'Mariya Darry', 'Mark Mullendore', 'Marlon Manderly', 'Maron Greyjoy', 'Marq Piper', 'Marselen', 'Martyn Lannister', 'Martyn Rivers', 'Marya Seaworth', 'Masha Heddle', 'Mathis Rowan', 'Meera Reed', 'Megga Tyrell', 'Melara Hetherspoon', 'Melisandre', 'Meralyn', 'Meris', 'Mero', 'Meryn Trant', 'Mezzara', 'Mikken', 'Miklaz', 'Mirri Maz Duur', 'Missandei', 'Moelle', 'Monford Velaryon', 'Moon Boy', 'Moqorro', 'Mord', 'Mordane', 'Moreo Tumitis', 'Morgo', 'Morrec', 'Mors Umber', 'Mya Stone', 'Mycah', 'Mychel Redfort', 'Myranda Royce', 'Myrcella Baratheon', 'Nan', 'Nestor Royce', 'Nurse', 'Oberyn Martell', 'Olenna Redwyne', 'Olyvar Frey', 'Orton Merryweather', 'Osfryd Kettleblack', 'Osha', 'Osmund Kettleblack', 'Osney Kettleblack', 'Oswell Kettleblack', 'Owen', 'Owen Merryweather', 'Oznak zo Pahl', 'Patchface', 'Pate (Old)', 'Pate (whipping boy)', 'Paxter Redwyne', 'Penny', 'Perwyn Frey', 'Petyr Baelish', 'Pia', 'Podrick Payne', 'Polliver', 'Pono', 'Porther', 'Poxy Tym', 'Praed', 'Preston Greenfield', 'Pyat Pree', 'Pycelle', 'Pylos', 'Pypar', 'Qavo Nogarys', 'Qezza', 'Qotho', 'Quaithe', 'Quaro', 'Quentyn Martell', 'Qyburn', 'Rafford', 'Rakharo', 'Ramsay Snow', 'Randyll Tarly', 'Ravella Swann', 'Raymun Darry', 'Raynald Westerling', 'Raynard', 'Reek', 'Renly Baratheon', 'Rennifer Longwaters', 'Reznak mo Reznak', 'Rhaegar Targaryen', 'Rhaegel Targaryen', 'Rhaella Targaryen', 'Rhaenys Targaryen', 'Rhaenys Targaryen (daughter of Rhaegar)', 'Richard Horpe', 'Rickard Karstark', 'Rickard Stark', 'Rickon Stark', 'Robar Royce', 'Robb Stark', 'Robert Arryn', 'Robert Baratheon', 'Robert Strong', 'Robett Glover', 'Robin Flint', 'Robin Ryger', 'Rodrik Cassel', 'Rollam Westerling', 'Rolly Duckfield', 'Rolph Spicer', 'Ronnet Connington', 'Roose Bolton', 'Roose Ryswell', 'Rorge', 'Roslin Frey', 'Rossart', 'Ryman Frey', 'Salladhor Saan', 'Samwell Tarly', 'Sandor Clegane', 'Sansa Stark', 'Scar', 'Scolera', 'Selyse Florent', 'Senelle', 'Shadrich', 'Shae', 'Shagga', 'Shagwell', 'Shireen Baratheon', 'Shitmouth', 'Shrouded Lord', 'Sigorn', 'Skahaz mo Kandaq', 'Spotted Cat', 'Stafford Lannister', 'Stannis Baratheon', 'Steffon Baratheon', 'Stevron Frey', 'Stiv', 'Sweets', 'Sybell Spicer', 'Sylva Santagar', 'Symon Silver Tongue', 'Symon Stripeback', 'Syrio Forel', 'Taena of Myr', 'Talea', 'Tallad', 'Tanda Stokeworth', 'Tansy', 'Tattered Prince', 'Ternesio Terys', 'Theomore', 'Theon Greyjoy', 'Thoros of Myr', 'Tickler', 'Timett', 'Tion Frey', 'Tobho Mott', 'Tom of Sevenstreams', 'Tomard', 'Tommen Baratheon', 'Torrhen Karstark', 'Torrhen Stark', 'Tregar', 'Tristifer IV Mudd', 'Trystane Martell', 'Tybero Istarion', 'Tycho Nestoris', 'Tyrion Lannister', 'Tysha', 'Tytos Blackwood', 'Tywin Lannister', 'Umma', 'Unella', 'Urswyck', 'Utherydes Wayn', 'Val', 'Vardis Egen', 'Vargo Hoat', 'Varly', 'Varys', 'Vayon Poole', 'Victarion Greyjoy', 'Visenya Targaryen', 'Viserys Targaryen', 'Vylarr', 'Vyman', 'Waif', 'Walder Frey', 'Walder Frey (son of Jammos)', 'Walder Frey (son of Merrett)', 'Walder Rivers', 'Walton', 'Waymar Royce', 'Weasel', 'Weese', 'Wendel Manderly', 'Willam Dustin', 'Willas Tyrell', 'Willem Lannister', 'William Foxglove', 'Willis Wode', 'Woth', 'Wyl (guard)', 'Wylis Manderly', 'Wylla', 'Wyman Manderly', 'Wynton Stout', 'Xaro Xhoan Daxos', 'Yandry', 'Yezzan zo Qaggaz', 'Yohn Royce', 'Yoren', 'Yorko Terys', 'Ysilla', 'Yurkhaz zo Yunzak', 'Zollo']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5], [0, 2, 9, 10, 18, 19, 31, 32, 40, 41, 43, 49, 50, 56, 57, 58, 59, 64, 68, 70, 71, 72, 75, 76, 77, 85, 86, 88, 90, 97, 102, 108, 115, 119, 120, 122, 124, 134, 135, 141, 147, 150, 156, 161, 164, 166, 167, 172, 173, 177, 181, 184, 186, 188, 190, 191, 192, 194, 196, 198, 200, 202, 203, 205, 206, 209, 211, 213, 214, 217, 218, 219, 221, 224, 228, 233, 234, 238, 242, 246, 248, 251, 257, 260, 263, 268, 273, 282, 286, 292, 293, 294, 296, 298, 299, 300, 302, 303, 304, 311, 324, 329, 334, 339, 341, 345, 349, 353, 356, 362, 363, 364, 366, 367, 368, 373, 378, 385, 386, 387, 393, 394, 403, 405, 406, 412, 421, 424, 426, 428, 429, 430, 432, 437, 439, 440, 446, 448, 449, 450, 453, 457, 462, 465, 470, 472, 474, 481, 2, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 18, 21, 23, 31, 32, 35, 38, 40, 41, 43, 46, 50, 51, 52, 56, 58, 63, 64, 66, 68, 70, 72, 73, 74, 75, 78, 82, 84, 89, 92, 94, 97, 99, 104, 109, 110, 112, 114, 116, 117, 119, 120, 121, 122, 124, 132, 138, 144, 147, 156, 162, 163, 167, 168, 169, 170, 174, 176, 177, 181, 182, 184, 185, 186, 191, 192, 193, 196, 198, 199, 202, 205, 206, 209, 210, 213, 214, 217, 231, 234, 241, 242, 243, 246, 250, 251, 253, 258, 261, 262, 267, 271, 274, 275, 278, 282, 284, 286, 289, 302, 303, 308, 310, 311, 312, 313, 318, 323, 324, 326, 327, 328, 330, 331, 332, 333, 334, 335, 340, 344, 345, 346, 347, 352, 353, 356, 359, 362, 364, 365, 366, 367, 368, 373, 378, 380, 384, 385, 386, 387, 390, 393, 394, 402, 403, 404, 412, 416, 421, 423, 424, 429, 434, 437, 438, 440, 444, 447, 449, 452, 453, 454, 455, 457, 458, 459, 463, 464, 465, 471, 475, 477, 481, 0, 1, 2, 5, 6, 9, 11, 13, 14, 18, 23, 25, 29, 30, 31, 35, 36, 37, 38, 40, 41, 43, 46, 47, 49, 50, 56, 58, 59, 61, 62, 63, 64, 68, 69, 70, 72, 73, 81, 82, 85, 87, 93, 95, 96, 97, 98, 104, 107, 109, 110, 113, 116, 117, 120, 121, 122, 123, 124, 125, 128, 129, 130, 131, 142, 144, 147, 150, 152, 155, 156, 157, 159, 160, 172, 176, 180, 181, 184, 185, 191, 192, 196, 198, 201, 202, 204, 205, 206, 207, 209, 210, 211, 213, 214, 215, 217, 227, 228, 229, 232, 234, 236, 240, 242, 244, 245, 251, 253, 254, 256, 260, 261, 262, 263, 268, 270, 275, 276, 278, 281, 282, 287, 293, 299, 302, 303, 306, 307, 308, 312, 314, 315, 317, 318, 319, 321, 323, 324, 326, 327, 334, 335, 336, 343, 344, 345, 346, 348, 350, 353, 356, 357, 358, 362, 364, 366, 367, 368, 371, 372, 373, 374, 376, 378, 380, 381, 382, 383, 384, 385, 386, 387, 390, 393, 395, 396, 403, 405, 408, 410, 416, 417, 421, 422, 423, 425, 427, 429, 431, 433, 437, 438, 440, 443, 444, 447, 449, 453, 455, 457, 460, 461, 467, 468, 476, 0, 3, 4, 6, 9, 17, 22, 24, 26, 27, 31, 32, 34, 37, 39, 40, 41, 43, 45, 50, 54, 55, 56, 58, 60, 61, 63, 64, 65, 68, 70, 72, 80, 82, 85, 101, 103, 105, 106, 111, 116, 117, 118, 121, 122, 124, 126, 127, 128, 133, 137, 143, 144, 145, 146, 148, 149, 153, 156, 158, 163, 173, 176, 178, 187, 189, 191, 195, 196, 197, 204, 208, 209, 211, 213, 220, 222, 225, 228, 230, 234, 239, 242, 245, 249, 251, 253, 255, 257, 259, 262, 264, 265, 277, 278, 279, 282, 290, 301, 302, 303, 304, 307, 309, 310, 312, 313, 316, 320, 324, 325, 334, 343, 344, 347, 351, 353, 354, 356, 364, 366, 367, 368, 377, 378, 383, 385, 386, 387, 391, 392, 393, 397, 403, 408, 409, 412, 413, 414, 415, 419, 422, 429, 434, 437, 440, 441, 442, 447, 449, 456, 457, 460, 473, 480, 482, 485, 2, 3, 6, 9, 10, 20, 27, 28, 31, 33, 35, 36, 41, 42, 43, 44, 46, 47, 48, 53, 56, 57, 58, 63, 65, 67, 68, 70, 72, 79, 81, 83, 85, 87, 91, 95, 97, 99, 100, 104, 110, 117, 120, 121, 122, 128, 135, 136, 139, 140, 149, 151, 152, 153, 154, 156, 159, 160, 165, 171, 175, 178, 179, 181, 183, 190, 191, 192, 196, 203, 205, 206, 209, 210, 212, 213, 216, 217, 220, 223, 226, 228, 230, 234, 235, 237, 247, 248, 252, 253, 256, 260, 262, 266, 269, 272, 275, 278, 280, 282, 283, 285, 287, 288, 291, 295, 297, 302, 305, 313, 318, 322, 334, 337, 338, 340, 342, 343, 344, 345, 346, 347, 355, 356, 360, 361, 364, 366, 368, 369, 370, 373, 375, 377, 378, 379, 384, 385, 387, 388, 389, 390, 396, 398, 399, 400, 401, 403, 407, 411, 418, 420, 421, 429, 434, 435, 436, 437, 438, 439, 440, 442, 445, 449, 451, 453, 456, 466, 469, 473, 475, 477, 478, 479, 483, 484, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485]],
           names=['Book', 'Character Name'])